.pompebled {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMy41IC0xNi41IDMwIDMwIj48cGF0aCBkPSJNMCAxMkExNi4xNDMgMTYuMSAwIDAgMSAtMTQgLTRBNyA4IDAgMCAxIC03IC0xMkE2IDggMCAwIDEgLTEgLTVBMSAxIDAgMSAwIDEgLTVBNiA4IDAgMCAxIDcgLTEyQTcgOCAwIDAgMSAxNCAtNEExNi4xNDMgMTYuMSAwIDAgMSAwIDEyeiIgZmlsbD0iI0ZGMzkzMiIgdHJhbnNmb3JtPSJyb3RhdGUoMzQuNjk1KSIvPjwvc3ZnPg==);
  background-size: auto;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

h1, h2, h3, h4 {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 300; }

h1 {
  margin-bottom: 62.5px; }

h2, h3, h4 {
  margin-bottom: 31.25px;
  color: #06061d;
  font-size: 1.75rem; }

body {
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 160%;
  vertical-align: baseline;
  color: #73737c;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer;
  color: #73737c;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #73737c;
  transition: all 0.15s ease-out; }
  a:hover {
    border-color: transparent; }

.center {
  text-align: center; }

hr {
  display: block;
  width: 15%;
  height: 1px;
  background: #73737c;
  opacity: 0.2; }

.container {
  width: 50%;
  margin: 125px 0 125px 15%; }
  .container p, .container ul {
    font-size: 0.9375rem;
    font-weight: 300; }

.content p, .content ul {
  margin-top: 15.625px; }
.content ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 10px; }
.content h2 span {
  display: inline-block;
  margin-left: 5px;
  padding: 0px 5px 1px 4px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.05em;
  vertical-align: top;
  border: 2px solid #06061d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: opacity 0.25s ease-out;
  cursor: help;
  opacity: 0.25; }

header[role="banner"] {
  position: relative;
  overflow: hidden;
  background: seashell; }
  header[role="banner"] .container {
    position: relative;
    z-index: 10;
    margin-top: 250px;
    margin-bottom: 250px; }
  header[role="banner"] figure {
    margin-bottom: 62.5px; }
    header[role="banner"] figure img {
      display: block;
      width: 56px;
      height: 52px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px; }
  header[role="banner"] h1 {
    color: #06061d;
    font-size: 2.75rem;
    line-height: 110%; }
    header[role="banner"] h1 span {
      display: block;
      opacity: 0.5; }
  header[role="banner"] p {
    font-size: 1.125rem;
    font-weight: 200;
    opacity: 0.75; }
  header[role="banner"] #background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    /*opacity: 0.3; */
}

footer[role="contentinfo"] p {
  font-size: smaller; }

footer[role="contentinfo"],
.content ul li span,
small {
  opacity: 0.5;
  transition: opacity 0.25s ease-out; }
  footer[role="contentinfo"]:hover,
  .content ul li span:hover,
  small:hover {
    opacity: 0.75; }

header[role="banner"] figure,
header[role="banner"] h1,
header[role="banner"] p,
section[role="main"] {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  -moz-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  animation: fadein 0.6s 0.5s 1 forwards ease-in-out; }

header[role="banner"] figure {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s; }

header[role="banner"] h1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

header[role="banner"] p {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

section[role="main"] {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s; }

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@media screen and (max-width: 1000px) {
  .container {
    width: 70%; } }
@media screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 62.5px auto;
    padding: 0 25px; }

  header[role="banner"] .container {
    margin: 125px auto; } }

/*# sourceMappingURL=style.css.map */
