{% extends "base.html" %}
{% block title %}Michiel de Graaf is a Designer and Art Director{% endblock %}
{% block content %}

<header role="banner">
  <div class="container">
<!--     <figure>
      <img src="{% static '/images/logo.svg' %}">
    </figure> -->
    <h1>Bouke Regnerus &mdash; <span>Front-end Developer</h1>
    <p>I develop interfaces, and rich web applications.</p>
    <p>In other words I research and make the things that users see and interact with on the web. I love <a href="mailto:mail@regner.us">email</a>.</p>
  </div>
  <canvas id="background"></canvas>
</header>

<section role="main">

  <div class="container content">
    <h2>Study</h2>
    <p>Currently: <em>BSc</em> Creative Technology at <a target="_blank" href="http://www.utwente.nl/en/education/bachelor/programmes/creative-technology/">University of Twente</a>, previously:</p>

    <ul>
      <li>VWO (Atheneum) at <a target="_blank" href="http://www.schoolbord.info/">Singelland Het Drachtster Lyceum</a></li>
    </ul>
  </div>
  
  <hr />

  <div class="container content">
    <h2>Work and Projects</h2>
    <p>Currently: Lead Front-end Developer at <a target="_blank" href="http://printr.nl">PRINTR</a>.</p>

    <p><small>Official participant in the <a target="_blank" href="http://www.startupbootcamp.org/">Startupbootcamp</a> E- & Mcommerce Program of 2014</small></p>

    <p>Previous Projects:</p>
    <ul>
      <li><a target="_blank" href="http://2014.gogbot.nl/">GOGBOT Art / Music / Technology Exposition</a> <span>- Participant</span></li>
      <li><a target="_blank" href="http://www-05.ibm.com/employment/nl/students/extreme-blue.shtml">Brainstorm Tree IBM Extreme Blue Event</a> <span>- Design &amp; Programming</span></li>
      <li><a target="_blank" href="http://www.instructables.com/id/Launchpad-Sequencer-with-MIDI-output/">MIDI Sequencer</a> <span>- Design &amp; Programming</span></li>
    </ul>
  </div>

  <hr />

  <div class="container content">
    <h2>Elsewhere</h2>
    <ul>
      <li><a target="_blank" href="http://twitter.com/bouke">Twitter</a></li>
      <li><a target="_blank" href="http://dribbble.com/bouke">Dribbble</a></li>
      <li><a target="_blank" href="http://github.com/regnerus">Github</a></li>
    </ul>
  </div>

  </div>

  <hr />

</section>

<footer role="contentinfo" class="container">
  <p>&copy; 2015 Bouke Regnerus.</p>
</footer>

{% endblock content%}
