<!doctype html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:description" content="I develop interfaces, and rich web applications. In other words I research and make the things that users see and interact with on the web.">

  <meta property="og:site_name" content="Bouke Regnerus">
  <meta property="og:title" content="Bouke Regnerus is a Front-end Developer.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://regner.us">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://regner.us">
  <meta name="twitter:title" content="Bouke Regnerus is a Front-end Developer.">
  <meta name="twitter:description" content="I develop interfaces, and rich web applications. In other words I research and make the things that users see and interact with on the web.">
  <meta name="twitter:image" content="http://regner.us/static/images/apple-touch-icon.png">
  <meta name="twitter:site" content="@bouke">

	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static '/images/twitter-image.png' %}">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	{% block header %}
	<title>{% block title %}Default{% endblock %}</title>
	{% endblock header %}

</head>
<body>
	{% block content %}
	Main content
	{% endblock content %}

	{% block scripts %}
	<script src="{% static '/js/main.js' %}"></script>
	{% endblock scripts%}
</body>
</html>
